XSD/resources/namespaces/Card.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.epamrd.org/card"
	xmlns:tns="http://www.epamrd.org/card" 
	elementFormDefault="qualified">


	<complexType name="CardType">
		<sequence>
			<element name="message" type="string" />
			<element name="color" type="string" />
		</sequence>
	</complexType>

</schema>